text {
  text-anchor: middle;
  font-weight: bolder;
  font-family: 'Nunito', sans-serif;
}

.shadow {
  -webkit-filter: drop-shadow(6px 6px 10px #000000cc);
  filter: drop-shadow(6px 6px 10px #000000cc);
}

td {
  text-align: center;

  height: 6rem;

  font-size: x-large;

}

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}


thead {

  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: x-large;


}

.table td,
.table th {

  width: 33%;
  vertical-align: middle;
  align-self: center;
  
}


.react-icons {
  vertical-align: middle;
}



/*.col_spacer{
  margin-left: 10%;



} */